

.bg {
    background-color: #282A35;
  
    color: #000;
    padding-top: 78px;
    padding-bottom: 95px;
}
.bg1 {
    background-color: #D9EEE1!important;
    height: 900px  ;
    padding-top: 70px;
    padding-bottom: 75px;
}
.bg2{
    background-color: rgb(13,23,33)!important;
    height: 500px  ;
    padding-top: 50px;
    padding-bottom: 75px; 
}
.bg3    {
    background-color: #F3ECEA;
    color: #000;
    padding-top: 78px;
    padding-bottom: 95px;
}
.bg4    {
    background-color: #96D4D4!important;
    color: black!important;
    padding-top: 78px;
    padding-bottom: 95px;
}
.bg5{
    background-color: #000000;
   
    padding-top: 78px;
    padding-bottom: 95px;
}
.bg6{
    background-color: #000000;
    display: flex;
    justify-content:space-between ;
    
    padding-top: 78px;
    padding-bottom: 5px;
}
.bg7{
    background-color: #38444d!important;
    color: #ddd!important;   
    padding-top: 78px;
    padding-bottom: 95px;
}
.bg8{
    background-color: rgb(13,23,33)!important;
    color: #ddd!important;   
    padding-top: 78px;
    padding-bottom: 75px;
}
.bg9{
    background-color: #1d2a35!important;
    color: #ddd!important;   
    padding-top: 78px;
    padding-bottom: 95px;

}
.fo{
    text-align: center;
    color: aliceblue;
    font-size: 65px;
    font-weight: 700;
    
}
.fo1{
    text-align: center;
    color: black;
    font-size: 65px;
    font-weight: 700;
    
    
}
.img50{
    text-align: center;
    margin-top: 35px;
}
.img1{
    text-align: center;
}
.img2{
    text-align: center;
    margin-top: 20px;
}
.img3{
    text-align: center;
    margin-top: 30px;
}
.img4   {
    text-align: center;
    margin-top: 30px;
}
.img55{
  text-align: center;
    
}
.text{
    text-align: center;
}
.text1{
    text-align: center;
    margin-top: 35px;
    font-size: 20px;
}
.text2{
    text-align: center;
    margin-top: 20px;
    color:black;
    font-size: 20px;
}
.text3{
    font-size: 25px;
    color: #FFC0C7;
    margin: 19px 0;
    text-align: center;
    font-size: 52px;
}
.text4{
    text-align: center;
    margin-top: 20px;
    color:white;
    font-size: 20px; 
}
.text5{
    text-align: center;
    top: 10px;
    color:black;
    font-size: 65px;
    font-weight: 700;

    font-family: 'Source Sans Pro', sans-serif;
} 
.text6{
    text-align: center;
    margin-top: 30px;
    color:black;
    font-size: 20px; 
}
.text7{
    text-align: center;
    margin-top: 30px;
    color:black;
   
    
    font-family: 'Freckle Face', cursive;
    font-size: 48px;
    
}
.text8{
    text-align: center;
    margin-top: 20px;
    color:black;
    font-size: 32px;
}
.text9{
    text-align: center;
    color:white;
    font-size: 65px;
    font-weight: 700;
}
.text10{
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 20px;

}
.text12{
    text-align: center;
    font-size: 65px;
    font-weight: 700; 
}
.text13{
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
}
.text14{
    font-size: 65px;
    font-weight: 700;
     color: #FFC0C7;
}
.text15{
    font-size: 52px;
    font-weight: 700;
     color: #FFC0C7;
     margin-top: 80px;
}
.go{
    text-align: center;
    margin-top: 50px;
}
.cat{
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 200px;
    border-radius: 25px;
    height: 50px;
}
.cat1{
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 250px;
    border-radius: 25px;
    height: 50px;
}
.cat2{
    background-color: #000000;
    color: white;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 250px;
    border-radius: 25px;
    height: 50px;
}
.cat3{
    background-color: #282A35;
    color: white;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 900px;
    border-radius: 25px;
    height: 50px;
}
.cat4{
    background-color: #04AA6D!important;
    color: white;
    font-size: 18px;
    margin-top:60px;
   
    width:150px;
    border-radius: 25px;
    height: 50px;
}
.cat5{
    background-color: #04AA6D!important;
    color: white;
    font-size: 18px;
    margin-top:120px;
   
    width:250px;
    border-radius: 25px;
    height: 50px;
}
.Box55{
    width: 600px;
    height:200px;
    background-color: #04AA6D!important;
    color: #ddd;
    padding-top: 10px   ;
    padding-bottom: 64px;
    margin-left: 270px;
    
}
.Box56{
    width: 600px;
    height:200px;
    background-color: #FFF4A3!important;
    color: #ddd;
    padding-top: 10px   ;
    padding-bottom: 64px;
    margin-right: 270px;
    
}
.col{
    text-align: center;
   margin-top:70px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    
}
.col66{
    text-align: center;
   margin-top:70px;
    font-size: 30px;
    font-weight: 500;
    color:black;
    
}
